body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
    min-height: 90%; 
}

.bg-header{
    background: url("/img/bg_header.webp");
}
.logo-img{
    width: 16em;
    height: 1.5em;
}

.title-select{
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: normal;
    margin-right: 1em;
}

#only-open{
    transform: scale(1.5,1.5);
    margin-top: 0.4em;

}

.check-box__title{
    font-size: 1em;
    text-align: center;
}
.active{
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.main-container {
    min-height: 90%;
}

.btn-select{
    font-size: 1em;
    font-weight: normal;
   
    padding: 0.1em 2vw;
    margin-top: -0.5em;
}

.list-select{
    width:12vw;
    border-radius: 0.5em 0.5em;
}


.tender-tab{
    min-height: 75vh;
}

.list-rules li::before{
   content: "- ";
}
.list-rules li{
   margin-top: 5px;
}

.cell-table{
word-wrap:  break-word;
font-size: 0.9em;
}

.header-tab{
    color:red;
}

.btn{
    border-width: 2px;
}
.btn:hover{
    color: #353535 !important;
}

.bg-secondary{
    background-color: #8ca5be !important;

}

.box_tender{
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 90%;
}


